# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ropeproject/

# C++
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Unwanted file types
*.pdf
*.csv
*.png
*.root

# Build/Output
build/
dist/
bin/
lib/

.prompt
