#_______________________________________________________________________________
#Module.Begin        CVE2025_18q_TPC_Test
#Module.Libs
#Module.DataTypes    ESD, AOD, MC
#Module.MacroName    $ALICE_PHYSICS/PWGCF/FLOW/macros/AddTaskCVEPIDCMEDiff.C
#Module.MacroArgs    "LHC18q", "TPC", "Proton", "default"
#Module.Deps         MultSelection,PhysicsSelection,PIDResponse
#Module.Owner        chunzhen
#Module.OutputFile   AnalysisResults.root
#Module.StartConfig
__R_ADDTASK__->IfRecentreTPC(true);
__R_ADDTASK__->SetProtonMinPt(0.7);
__R_ADDTASK__->SetLambdaMinPt(1.0);


#Module.EndConfig

#_______________________________________________________________________________
#Module.Begin        MultSelection
#Module.Libs
#Module.DataTypes    ESD, AOD, MC
#Module.MacroName    $ALICE_PHYSICS/OADB/COMMON/MULTIPLICITY/macros/AddTaskMultSelection.C
#Module.MacroArgs
#Module.Deps
#Module.Owner        akubera
#Module.OutputFile   AnalysisResults.root
#Module.StartConfig

#Module.EndConfig

#_______________________________________________________________________________
#Module.Begin        PhysicsSelection
#Module.Libs
#Module.DataTypes    ESD, AOD, MC
#Module.MacroName    $ALICE_PHYSICS/OADB/macros/AddTaskPhysicsSelection.C
#Module.MacroArgs
#Module.Deps
#Module.Owner        dcaffarr
#Module.OutputFile   AnalysisResults.root
#Module.StartConfig

#Module.EndConfig

#_______________________________________________________________________________
#Module.Begin        PIDResponse
#Module.Libs
#Module.DataTypes    ESD, AOD, MC
#Module.MacroName    $ALICE_ROOT/ANALYSIS/macros/AddTaskPIDResponse.C
#Module.MacroArgs
#Module.Deps
#Module.Owner        sjena
#Module.OutputFile   AnalysisResults.root
#Module.StartConfig
//gROOT->ProcessLine(".T");
#Module.EndConfig
